/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

:root {
  --dark-primary: #0F0F0F;
  --dark-secondary: #1A1A1A;
  --text-primary: #f2f2f2;
  --text-secondary: #c5c5c5;
  --nav-border: #292929;

  --nav-height: 7rem;

  --transition: .2s all;
}

body {
  box-sizing: border-box;
  background-color: var(--dark-primary);
  color: var(--text-primary);
  font-size: 1.6rem;
  font-family: 'Source sans pro', sans-serif;
}

.section-container {
  max-width: 1120px;
  margin: 0 auto;
}

#welcome-section .section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
  padding: 3rem 0;
}

h3 {
  font-size: 3rem;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--dark-primary);
  border-bottom: 1px solid var(--nav-border);
  z-index: 2;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 1.5rem 2rem;
}

nav ul li a{
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--transition);
}

nav ul li a:hover {
  color: var(--text-primary);
}

section + section{
  padding-top: var(--nav-height);
}

#welcome-section {
  height: 100vh;
  padding-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section .section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

#welcome-section .section-container .left{
  width: 50%;
}

#welcome-section .section-container .right{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#welcome-section .section-container .right img{
  width: 80%;
}


#welcome-section .subtext {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--text-secondary);
}

#welcome-section p {
  width: 100%;
  line-height: 2.5rem;
}

#projects {
  background: var(--dark-secondary);
  padding-bottom: 4rem;
}

.projects-container {
  margin: 3rem 0;
}

.project-tile {
  background: var(--dark-primary);
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile .project-data {
  padding: 2rem;
  width: 100%;
}

.project-tile .project-data .project-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.project-tile .project-image {
  width: 75rem;
}

.project-image img {
  width: 100%;
  filter:grayscale(1);
}

.project-description,
.project-techs,
.project-image {
  margin-bottom: 1rem;
}

nav ul li a, .project-link{
  color: var(--text-secondary);
  transition: var(--transition);
}

nav ul li a:hover, .project-link:hover {
  color: var(--text-primary);
}

#contact {
  width: 100%;
  padding-bottom: 4rem;
}

#contact .links-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#contact a {
  color: var(--text-secondary);
  font-size: 2.5rem;
  text-align: center;
  transition: var(--transition);
}

#contact a:hover {
  color: var(--text-primary);
  transform:translateY(-1rem);
}

@media screen and (max-width: 540px){
  #welcome-section p {
    width: 100%;
  }
}